# Core functionality - changes here should be rare!
/src/app.py                   @gkaushik22
/src/backend/database.py      @gkaushik22
/src/backend/routers/auth.py  @gkaushik22

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gkaushik22
